/* color palette */
:root {
    --brand-color: #ff970c;
    --brand-color-darken: #f38f03;
    --brand-pastel: #ffebda;
    --brand-pastel-soft: #fffefd;
    --brand-black: #000;
    --brand-black-mute: #3a3a3a;
    --brand-disabled: #d7aa82;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--brand-pastel);
    --color-background-soft: var(--brand-pastel-soft);
    --color-text: var(--brand-black);
    --color-muted-text: var(--brand-black-mute);
}

/* font-sizes */
:root {
    --text-xs: 0.7rem;
    --text-sm: 0.85rem;
    --text-md: 1rem;
    --text-lg: 1.207rem;
    --text-xl: 1.414rem;
    --text-xxl: 2rem;
    font-size: 18px;
}

:root {
    --border-radius-item: 0.3rem;
    --border-radius-container: 0.6rem;
    --container-max-width: 1320px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background-soft);
    line-height: 1.5;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--text-md);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
